@charset "utf-8";



/* ------------------------------ PADDING ------------------------------ */
.pd0   { padding:0;}
.pd-t-0{ padding-top:0;}
.pd-r-0{ padding-right:0;}
.pd-b-0{ padding-bottom:0;}
.pd-l-0{ padding-left:0;}

.pd5   { padding:5px; background-color: rgba(29, 29, 29, 0.8);}
.pd-t-5{ padding-top:5px;}
.pd-r-5{ padding-right:5px;}
.pd-b-5{ padding-bottom:5px;}
.pd-l-5{ padding-left:5px;}

.pd10   { padding:10px; }
.pd-t-10{ padding-top:10px;}
.pd-r-10{ padding-right:10px;}
.pd-b-10{ padding-bottom:10px;}
.pd-l-10{ padding-left:10px;}

.pd15   { padding:15px;}
.pd-t-15{ padding-top:15px;}
.pd-r-15{ padding-right:15px;}
.pd-b-15{ padding-bottom:15px;}
.pd-l-15{ padding-left:15px;}

.pd20   { padding:20px;}
.pd-t-20{ padding-top:20px;}
.pd-r-20{ padding-right:20px;}
.pd-b-20{ padding-bottom:20px;}
.pd-l-20{ padding-left:20px;}

.pd30   { padding:30px;}
.pd-t-30{ padding-top:30px;}
.pd-r-30{ padding-right:30px;}
.pd-b-30{ padding-bottom:30px;}
.pd-l-30{ padding-left:30px;}

.pd40   { padding:40px;}
.pd-t-40{ padding-top:40px;}
.pd-r-40{ padding-right:40px;}
.pd-b-40{ padding-bottom:40px;}
.pd-l-40{ padding-left:40px;}

.pd50   { padding:50px;}
.pd-t-50{ padding-top:50px;}
.pd-r-50{ padding-right:50px;}
.pd-b-50{ padding-bottom:50px;}
.pd-l-50{ padding-left:50px;}

.pd60   { padding:60px;}
.pd-t-60{ padding-top:60px;}
.pd-r-60{ padding-right:60px;}
.pd-b-60{ padding-bottom:60px;}
.pd-l-60{ padding-left:60px;}

.pd70   { padding:70px;}
.pd-t-70{ padding-top:70px;}
.pd-r-70{ padding-right:70px;}
.pd-b-70{ padding-bottom:70px;}
.pd-l-70{ padding-left:70px;}

.pd80   { padding:80px;}
.pd-t-80{ padding-top:80px;}
.pd-r-80{ padding-right:80px;}
.pd-b-80{ padding-bottom:80px;}
.pd-l-80{ padding-left:80px;}


/* ------------------------------ MARGIN ------------------------------ */
.mg0   { margin:0;}
.mg-t-0{ margin-top:0;}
.mg-r-0{ margin-right:0;}
.mg-b-0{ margin-bottom:0;}
.mg-l-0{ margin-left:0;}

.mg5   { margin:5px;}
.mg-t-5{ margin-top:5px;}
.mg-r-5{ margin-right:5px;}
.mg-b-5{ margin-bottom:5px;}
.mg-l-5{ margin-left:5px;}

.mg10   { margin:10px;}
.mg-t-10{ margin-top:10px;}
.mg-r-10{ margin-right:10px;}
.mg-b-10{ margin-bottom:10px;}
.mg-l-10{ margin-left:10px;}

.mg15   { margin:15px;}
.mg-t-15{ margin-top:15px;}
.mg-r-15{ margin-right:15px;}
.mg-b-15{ margin-bottom:15px;}
.mg-l-15{ margin-left:15px;}

.mg20   { margin:20px;}
.mg-t-20{ margin-top:20px;}
.mg-r-20{ margin-right:20px;}
.mg-b-20{ margin-bottom:20px;}
.mg-l-20{ margin-left:20px;}

.mg30   { margin:30px;}
.mg-t-30{ margin-top:30px;}
.mg-r-30{ margin-right:30px;}
.mg-b-30{ margin-bottom:30px;}
.mg-l-30{ margin-left:30px;}

.mg40   { margin:40px;}
.mg-t-40{ margin-top:40px;}
.mg-r-40{ margin-right:40px;}
.mg-b-40{ margin-bottom:40px;}
.mg-l-40{ margin-left:40px;}

.mg50   { margin:50px;}
.mg-t-50{ margin-top:50px;}
.mg-r-50{ margin-right:50px;}
.mg-b-50{ margin-bottom:50px;}
.mg-l-50{ margin-left:50px;}

.mg60   { margin:60px;}
.mg-t-60{ margin-top:60px;}
.mg-r-60{ margin-right:60px;}
.mg-b-60{ margin-bottom:60px;}
.mg-l-60{ margin-left:60px;}

.kotak{
   width: 240px;
   background-color: transparent;
   margin-left: 50px;}
   
   
.box-content {
  position: relative;
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
 padding: 1% 2%  1% 2%;
  z-index: 3; }
  
  .box-content2 {
  position: relative;
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
 padding: -3% 1%  -3% 1%;
  z-index: 3; }
  
  .newsBox {
  background-color: rgba(29, 29, 29, 0.8);
  max-width: 315px;
  border-radius: 2%;
  box-shadow: 3px 3px 0px #ffe000;
  box-sizing: border-box;
  width: 31.2%;
  margin-right: 3.2%;
  margin-bottom: 30px;
  -webkit-transition-property: box-shadow transform;
  transition-property: box-shadow transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
  .newsBox:nth-child(3n) {
    margin-right: 0; }
  .newsBox:hover {
    -webkit-transform: translate3d(-3px, -3px, 0);
            transform: translate3d(-3px, -3px, 0);
    box-shadow: 6px 6px 0px #ffe000; }
  @media only screen and (max-width: 680px) {
    .newsBox {
      max-width: 100%;
      width: 100%; } }
  @media only screen and (max-width: 680px) {
    .newsBox {
      margin-bottom: 10px;
      max-width: 100%;
      width: 100%; } }
	 
  .newsBox a {
    display: block;
    padding: 9.4%; }
    @media only screen and (max-width: 680px) {
      .newsBox a {
        padding: 3.2%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background-image: url(../images/common/bg-arrow-news.png);
        background-size: 17px;
        background-position: right center;
        background-repeat: no-repeat; } }
  .newsBox.top {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-bottom: 40px; }
    .newsBox.top:nth-child(3n) {
      margin-right: 5%; }
    @media only screen and (max-width: 979px) {
      .newsBox.top {
        margin-bottom: 30px; } }
    @media only screen and (max-width: 680px) {
      .newsBox.top {
        margin-bottom: 7px;
        width: 100%; } }
  .newsBox .img {
    border-radius: 2%;
    padding-top: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 5%; }
    @media only screen and (max-width: 680px) {
      .newsBox .img {
        margin-bottom: 0;
        width: 44%;
        padding-top: 35%; } }
    .newsBox .img img {
      width: 100%;
      height: auto; }
  .newsBox dl {
    padding-bottom: 1.5em;
    position: relative; }
    @media only screen and (max-width: 680px) {
      .newsBox dl {
        width: 46%;
        margin-left: 3%; } }
    .newsBox dl dt {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 1.16667;
      letter-spacing: 0.025em;
      color: #e7d7ea; }
      @media only screen and (max-width: 680px) {
        .newsBox dl dt {
          font-size: 12px;
          font-size: 1.3rem; } }
    .newsBox dl dd {
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 1.28571;
      letter-spacing: 0.025em;
      font-weight: bold;
      color: #fff; }
  
  .newsBox-detail {
  border: 1px solid #ffe000;
  border-radius: 10px;
  box-shadow: 7px 7px 0px #ffe000;
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: hidden; }
  @media only screen and (max-width: 680px) {
    .newsBox-detail {
      box-shadow: 3px 3px 0px #ffe000;
      margin-bottom: 20px; } }
  .newsBox-detail .ttl {
    background-color: rgba(71, 68, 48, 0.8);
    padding: 1% 9.5%  1% 2%;
    position: relative; }
    @media only screen and (max-width: 680px) {
      .newsBox-detail .ttl {
        padding: 1% 4%  1% 4%; } }
    .newsBox-detail .ttl h1 {
      font-size: 24px;
      font-size: 2.4rem;
      line-height: 1.33333;
      letter-spacing: 0.025em;
      color: #fff;
      margin-bottom: 0.4em; }
      @media only screen and (max-width: 680px) {
        .newsBox-detail .ttl h1 {
          font-size: 24px;
          font-size: 1.8rem; } }
    .newsBox-detail .ttl p {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 0.77778;
	  margin-bottom: 1px;
      letter-spacing: 0.025em;
      color: #e7d7ea;
      font-weight: bold;
      float: left; }
      @media only screen and (max-width: 680px) {
        .newsBox-detail .ttl p {
          font-size: 18px;
          font-size: 1.3rem; } }
    .newsBox-detail .ttl .sns {
      float: right;
      margin-right: -32px; }
  .newsBox-detail .txtBody {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2% 9.5%  2% 2%;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.77778;
    letter-spacing: 0.025em; }
    @media only screen and (max-width: 680px) {
      .newsBox-detail .txtBody {
        font-size: 18px;
        font-size: 1.3rem; } }
    .newsBox-detail .txtBody a {
      color: #D7477F; }
      .newsBox-detail .txtBody a:hover {
        text-decoration: underline; }
    @media only screen and (max-width: 680px) {
      .newsBox-detail .txtBody {
        padding: 4% 4%  6% 4%; } }
    .newsBox-detail .txtBody img {
      max-width: 100%;
      height: auto !important; }
    .newsBox-detail .txtBody.type-story img {
      max-width: 49%;
      margin-right: 1%;
      margin-bottom: 1%;
      height: auto !important; }
      .newsBox-detail .txtBody.type-story img:nth-child(2n) {
        margin-right: 0; }
      @media only screen and (max-width: 680px) {
        .newsBox-detail .txtBody.type-story img {
          margin-right: 0;
          margin-bottom: 2%;
          max-width: 100%; } }
  .newsBox-detail iframe {
    max-width: 100%;
    max-height: 448px; }
    @media only screen and (max-width: 979px) {
      .newsBox-detail iframe {
        max-height: 400px; } }
    @media only screen and (max-width: 680px) {
      .newsBox-detail iframe {
        max-height: 180px; } }
		
		.paging {
  font-size: 0;
  text-align: center;
  margin-top: 50px; }
  @media only screen and (max-width: 680px) {
    .paging {
      margin-top: 30px; } }
  .paging li {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 1.42857;
    font-weight: bold;
    display: inline-block;
    border: 4px solid #ffe000;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
    .paging li a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      color: #e65582; }
    .paging li.ico-prev a {
      background-repeat: no-repeat;
      background-position: 3px center;
      background-image: url(../images/common/ico-prev.png); }
    .paging li.ico-next a {
      background-repeat: no-repeat;
      background-position: 5px center;
      background-image: url(../images/common/ico-next.png); }
    .paging li.current {
      border: 4px solid #ffe000;
      background-color: #5ab71b;
      color: #fff; }
      .paging li.current:hover {
        background-color: #2b6b00; }
    .paging li:hover {
      background-color: #2b6b00; }
	  
#rightBlc article {
  padding: 0 20px;
  margin-bottom: 80px; }
  @media only screen and (max-width: 979px) {
    #rightBlc article {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 680px) {
    #rightBlc article {
      padding: 0 10px; } }

.box-ttl {
  height: 320px;
  position: relative;
  z-index: 1;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }
  .box-ttl:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 402px;
    height: 402px;
    background-image: url(../images/common/ico-skeleton.png);
    background-size: 100%;
    right: -100px;
    top: -30px; }
  @media only screen and (max-width: 979px) {
    .box-ttl {
      height: 225px;
      margin-bottom: 15px; }
      .box-ttl:before {
        content: '';
        position: absolute;
        z-index: 0;
        width: 276px;
        height: 276px;
        background-image: url(../images/common/ico-skeleton.png);
        background-size: 100%;
        right: -37px;
        top: -27px; } }
  @media only screen and (max-width: 680px) {
    .box-ttl {
      height: 130px;
      margin-bottom: 15px; }
      .box-ttl:before {
        content: '';
        position: absolute;
        z-index: 0;
        width: 151px;
        height: 151px;
        background-image: url(../images/common/ico-skeleton.png);
        background-size: 100%;
        right: -37px;
        top: -27px; } }
  .box-ttl .ttl-sub {
    position: relative;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
    @media only screen and (max-width: 680px) {
      .box-ttl .ttl-sub {
        -webkit-transform: translate3d(5px, -50%, 0);
                transform: translate3d(5px, -50%, 0); } }
.newsTxtarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media only screen and (max-width: 680px) {
    .newsTxtarea {
      display: block;
      margin-bottom: 15px; } }


.f-clear{
   clear:both;}

.note{
   font-size:0.8em;}


.disnone{
   display:none;
   }

.t-center{
   text-align:center;
}

.attention{
   color:#ff0000;
}



dl, dt, dd,
ul, li, ol{
   margin:0;
   padding:0;
   list-style:none;}


.table-bordered th{
   background:#efefef;}

 .kotak-bawah{
   text-align:center;
   padding:20px;
   background-color: rgba(0, 0, 0, 0.5);
   color:#fff;}

  .button {
    position: relative;
    background-color: #409f00;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 5px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
	  box-shadow: 3px 3px 0px #ffe000;
}

.button:hover {background-color: #ffe000;
 box-shadow: 3px 3px 0px #409f00;}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
transition: 0s }
   
/* --- footer ------------------------------ */


#common-footer{
   background:url(../img/idx/bg_idx.jpg);
   padding:50px 0;
   clear:both;
   margin-top:50px;}




.fotter-sns{
   clear:both;
   padding:40px 0 0 0;
   text-align:center;}

.footer-sns ul{
   overflow:hidden;}

.footer-sns li{
   text-align:center;
   display:inline;}


footer{
   text-align:center;
   padding:20px;
   background-color: rgba(41, 102, 0, 1);
   color:#fff;}